

.footer{
    background-color: #245852;
    color: white;
    padding: 100px 0 140px 275px;
}

.footer-logo{
    margin-bottom: 75px;
}

.footer-content{

}

.footer-nav{
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;
    color: #FFFFFF;
}

.footer-nav li + li{
    margin-top: 60px;

}

.footer-nav a{
    transition: opacity 0.2s ease;
}

.footer-nav a:hover{
    opacity: 0.8;
}


@media (max-width: 991px){
    .footer{
        padding: 80px 20px 100px;
    }

    .footer-nav{
        font-size: 22px;
    }
    .footer-nav li + li{
        margin-top: 40px;
    }

}

@media (max-width: 500px){
    .footer{
        padding: 40px 0 60px;
    }
    .footer-logo{
        margin-bottom: 40px;
    }
    .footer-nav{
        font-size: 18px;
    }
    .footer-nav li + li{
        margin-top: 30px;
    }
}




















